@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Montserrat", sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

#news{
    height: 100vh;
    margin-top: 50px;

    .news__box{
        width: 95%;
        margin: 0 auto;
    }

    .news__box__header{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h2{
            font-weight: 500;
            font-size: 30px;
        }

        .news__box__header-buttons__mobile{
            display: none;
        }

        .news__box__header-buttons{
            width: 40%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            button{
                border-radius: 13px;
                color: white;
                border: none;
                font-weight: 400;
                font-size: 18px;
            }

            button:nth-child(1){
                width: 50%;
                height: 30px;
                background-color: #0B3C26;
            }

            button:nth-child(2){
                width: 30%;
                height: 30px;
                background-color: #C8C8C8;
                
            }
        }

    }

    .news__box__content{
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 6%;

        .news__box__content-card{
            width: 29%;
            height: 250px;
            font-size: 18px;
            font-weight: 500;
            position: relative;

            img{
                width: 100%;
                height: 80%;
                border-radius: 15px;
                margin-bottom: 10px;
            }
        }
    }
}




.news__box__header-buttons__mobile .delete-button.active,
  .news__box__header-buttons  .delete-button.active {
    background-color: #FA5656  !important
}

.cancel-button,
.delete-button:hover{
    cursor: pointer;
}


.checkbox-container input {
  visibility: hidden;
  position: absolute;
}

.checkbox-container {
  display: inline-block;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.checkbox-container .checkmark {
  position: absolute;
  top: 0;
  right: 0;
  height: 25px;
  width: 25px;
  background-color: #f0f0f0; 
  border-radius: 50%;
  border: 1px solid #ccc; 
  transition: background-color 0.2s, border-color 0.2s; 
}

.checkbox-container input:checked + .checkmark {
  border-color: #4CAF50; 
}

.checkbox-container .checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked + .checkmark::after {
  display: block;
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid black;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.position_checkbox{
    position: absolute;
    right: 10px;
    top: -5px;
}