@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Montserrat", sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

#news{
    height: 100vh;
    margin-top: 50px;

    .news__box{
        width: 95%;
        margin: 0 auto;
    }

    .news__box__header{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h2{
            font-weight: 500;
            font-size: 30px;
        }

        .news__box__header-buttons__mobile{
            display: none;
        }

        .news__box__header-buttons{
            width: 40%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            button{
                border-radius: 13px;
                color: white;
                border: none;
                font-weight: 400;
                font-size: 18px;
            }

            button:nth-child(1){
                width: 50%;
                height: 30px;
                background-color: #0B3C26;
            }

            button:nth-child(2){
                width: 30%;
                height: 30px;
                background-color: #C8C8C8;
                
            }
        }

    }

    .news__box__content{
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .news__box__content-card{
            width: 29%;
            height: 250px;
            font-size: 18px;
            font-weight: 500;
            position: relative;

            img{
                width: 100%;
                height: 80%;
                border-radius: 15px;
                margin-bottom: 10px;
            }
        }
    }
}



.delete-button {
    background-color: gray;
    color: white;
    transition: 0.3s;
    cursor: pointer;
  }
  
  .delete-button.active {
    background-color: red;
  }
  

.select_checkbox{
    position: absolute;
    right: -5px;
    top: -5px;
}