@media (width<1200px) {
    .container{
        width: 1000px;
    }
}

@media (width<1000px) {
    .container{
        width: 850px;
    }

    .news__box__header-buttons{
        width: 50% !important;
    }
}

@media (width<850px) {
    .container{
        width: 600px;
    }

    .news__box__content-uploadFiles{
        width: 90%;
    }
    
    .news__box__content-uploadFiles__cards{
        flex-direction: column;

        .news__box__content-uploadFiles__card{
            width: 100% !important;
            height: 45% !important;
        }
    }

    .news__box__content{
        display: flex;
        flex-direction: column;
        height: fit-content;
        justify-content: space-around;
        align-items: center;

        .news__box__content-card{
            width: 100% !important;
            height: 300px !important;
        }
    }

    .news__box__header-buttons{
        display: none !important;
    }

    .news__box__header-buttons__mobile{
        display: flex !important; 
        width: 15%;
        justify-content: space-between;
        
        button{
            border: none;
            background-color: transparent;
        }

        button img{
            width: 100%;
            height: 100%;
        }
    }
}

@media (width<650px) {
    .container{
        width: 400px;
    }

    .news__box__header-buttons__mobile{
        width: 20%;
    }
}

@media (width<450px) {
    .container{
        width: 300px;
    }

    .news__box__header-buttons__mobile{
        width: 25%;
    }
}