* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Montserrat", sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}


.admin_login{
    background: url(/images/Graident.png)no-repeat center/cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 50px;
    .form{
        width: 700px;
        height: 358px;
        background: white;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        form{
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 30px;
            .input-box {
                position: relative;
                width: 70%;
              }
              
              input {
                background: #fff;
                padding: 10px;
                border-radius: 15px;
                border: 1px solid #C8C8C8;
                width: 100%;
                height: 52px;
                font-size: 18px;
                padding: 20px 0 20px 20px;
              }
              
              label {
                position: absolute;
                top: -15px;
                left: 10px;
                background: #fff;
                padding: 0 5px;
                z-index: 10;
                font-size: 16px;
              }
            button{
                width: 70%;
                height: 52px;
                background: #5EB147;
                color: white;
                border: none;
                border-radius: 20px;
                font-size: 18px;
            }
            
        }
        
    }
}

