@media (width<1180px) {
    .container{
        width: 1050px;
    }
    }
    
    @media (width<1050px) {
        .container{
            width: 800px;
        }  
        
    }
    
    @media (width<850px) {
        .container{
            width: 690px;
        }
       
    
    }
    
    @media (width<734px) {
        .container{
            width: 500px;
        }
        
        
    }
    
    @media (width<500px) {
        .container{
            width: 100%;
        }
        
       
    }
    
    
    @media (width<1180px) {
        .container{
            width: 1050px;
        }
    }
    
    @media (width<1050px) {
        .container{
            width: 800px;
        }
    
    }
    
    @media (width<850px) {
        .container{
            width: 690px;
        }
    
        
        
    }
    
    @media (width<734px) {
        .container{
            width: 500px;
        }
    
    
    }
    
    @media (width<500px) {
        .container{
            width: 100%;
        }
    
        
    }